<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 1. 引入vue -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- 2. 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 3. 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/upload.css">
		<title>Document</title>
		<style>

		</style>
	</head>



	<body>
		<div id="app">
			<el-container>
				<el-header>
					数字图像保护系统
					<a href="Login.html" style="float: right">登录</a>
					<a href="Reg.html" style="float: right">注册</a>
				</el-header>

				<el-container>
					<el-aside width="200px">
						<el-col :span="24">
							<h4>首页</h4>
							<el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen"
								@close="handleClose" background-color="#545c64" text-color="#fff"
								active-text-color="#ffd04b">
								<el-submenu index="1">
									<div slot="title">
										<i class="sel-icon-picture"></i>
										<span>图片版权管理</span>
									</div>
									<el-menu-item-group>

										<el-menu-item index="1-1">图片管理</el-menu-item>
										<el-menu-item index="1-2">上传图片</el-menu-item>
									</el-menu-item-group>

								</el-submenu>
								<el-submenu index="2">
									<div slot="title">
										<i class="el-icon-menu"></i>
										<span>系统管理</span>
									</div>
									<el-menu-item-group>
										<el-menu-item index="2-1">用户管理</el-menu-item>
										<el-menu-item index="2-2">注册</el-menu-item>
										<el-menu-item index="2-3">菜单管理</el-menu-item>

									</el-menu-item-group>
								</el-submenu>
								</el-menu-item>
							</el-menu>
						</el-col>
						</el-row>
					</el-aside>
					<el-main>
						<el-breadcrumb separator-class="el-icon-arrow-right">
							<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
							<el-breadcrumb-item>图片管理</el-breadcrumb-item>

						</el-breadcrumb>

						<el-button size="small" type="primary" @click="handleCreate()">点击上传</el-button>
						<div id="addpic">
							<el-dialog title="添加图片" :visible.sync="dialogFormVisible">
								<el-form  :model="formData" label-width="80px" :rules="rules" ref="forms">
									<el-form-item label="图片名称" :rules="rules.picture_name" prop="picture_name">
										<el-input v-model="formData.picture_name"  ></el-input>
									</el-form-item>
									<el-form-item label="图片" :rules="rules.picture" prop="picture">
										<el-upload
												action="#"
												list-type="picture-card"
												:auto-upload="false"
												:limit="1"
												accept="image/png, image/jpeg"
												ref="mYupload"
												:on-change="handlePicturePreview"
												:on-remove="handleRemove"
												:on-success="handlePicturePreview"
												:http-request="uploadFile"
												:before-upload="beforeAvatarUpload"
												>
											<i slot="default" class="el-icon-plus"></i>
											<div slot="file" slot-scope="{file}">
												<img
														class="el-upload-list__item-thumbnail"
														:src="file.url" alt=""
												>
												<span class="el-upload-list__item-actions">
													<span
															class="el-upload-list__item-preview"
															@click="handlePictureCardPreview(file)"
													>
													  <i class="el-icon-zoom-in"></i>
													</span>

													<span
															v-if="!disabled"
															class="el-upload-list__item-delete"
															@click="clearFiles()"
													>
													  <i class="el-icon-delete"></i>
													</span>
											  	</span>
											</div>
										</el-upload>

									</el-form-item>
									<el-form-item>
										<el-button type="primary" @click="handleEdit()">立即创建</el-button>
										<el-button @click="dialogFormVisible = false,resetForm()">取消</el-button>
									</el-form-item>
								</el-form>.
							</el-dialog>
							<el-dialog :visible.sync="dialogVisible">
								<img width="100%" :src="dialogImageUrl" alt="">
							</el-dialog>
							<el-dialog title="解密签名" :visible.sync="dialogFormVisible2">
								<el-form  :model="formData" label-width="80px" :rules="rules" ref="dforms">
									<el-form-item label="AES密钥" :rules="rules.AES" prop="AES">
										<el-input v-model="formData.AES"  ></el-input>
									</el-form-item>
									<el-form-item label="签名文件" :rules="rules.dig" prop="dig">
										<el-upload
												class="digFile"
												action="#"
												:auto-upload="false"
												accept="text/plain"
												:limit="1"
												:file-list="digList"
												:on-change="uploadDig"
												ref="myDig"
										>
											<el-button size="small" type="primary">上传签名文件</el-button>
										</el-upload>
									</el-form-item>
									<el-form-item>
										<el-button type="primary" @click="handleEncryptionDig()">立即解密</el-button>
										<el-button @click="dialogFormVisible2 = false,resetDig()">取消</el-button>
									</el-form-item>
								</el-form>.
							</el-dialog>
						</div>

						<el-table :data="filelist.slice((currentPage-1)*PageSize,currentPage*PageSize)" stripe style="width: 100%" :model="formData">
							<el-table-column prop="picture_name" label="名称" width="120">
							</el-table-column>
							<el-table-column prop="picture_realname" label="真实名称" width="180">
							</el-table-column>
							<el-table-column prop="picture_type" label="类型" width="50">
							</el-table-column>
							<el-table-column prop="picture_user" label="用户" width="100">
							</el-table-column>
							<el-table-column label="图片" align="center">
								<div slot-scope="scope">
									<img :src="'./img/'+scope.row.picture_realname+'.'+scope.row.picture_type" @click="handlePictureCardPreviewTable(scope.row)" width="100px" onerror="this.src='./img/丢失.jpg;this.οnerrοr=null'"/>
								</div>
							</el-table-column>
							<el-table-column prop="createtime" label="创建时间">
							</el-table-column>
							<el-table-column  label="功能" width="300">
								<div slot-scope="scope" style="display: flex;justify-content: space-around">
									<el-button type="primary" size="mini" @click="handleDownload(scope.row)">下载</el-button>

									<el-upload
											class="upload-demo"
											action="#"
											:on-change="(file) => {openFile(file, scope.row)}"
											:auto-upload="false"
											:show-file-list="false"
											accept="text/plain"
											:limit="1"
											:file-list="verifyList"
											ref="myVerify"
									>
										<el-button size="small" type="primary">验证时间戳</el-button>
									</el-upload>
									<el-button type="primary" size="mini" @click="handleDig(scope.row)">解密签名</el-button>
								</div>
							</el-table-column>
							<el-empty description="暂无信息"></el-empty>
						</el-table>
						<div class="block">
							<el-pagination
									@size-change="handleSizeChange"
									@current-change="handleCurrentChange"
									:current-page="currentPage"
									:page-sizes="pageSizes"
									:page-size="PageSize"
									layout="total, sizes, prev, pager, next, jumper"
									:total="totalCount">
							</el-pagination>
						</div>
					</el-main>
				</el-container>
			</el-container>
		</div>
	</body>
	<script src="./js/axios-0.27.2.js"></script>
	<script type="text/javascript" src="./js/jquery-3.6.0.js"></script>
	<script>

		new Vue({
			el: '#app',
			data() {
				return {
					rname:'',
					par:'',
					AES:'',
					dig:'',
					filelist: [],
					digList:[],
					verify:{},
					verifyList:[],
					formData: {},
					dialogFormVisible:false,
					dialogFormVisible2:false,
					dialogFormVisible4Edit: false,
					dialogImageUrl:'',
					dialogVisible:false,
					disabled:false,
                    // 默认显示第几页
                    currentPage:1,
                    // 总条数，根据接口获取数据长度(注意：这里不能为空)
                    totalCount:1,
                    // 个数选择器（可修改）
                    pageSizes:[3,5,10],
                    // 默认每页显示的条数（可修改）
                    PageSize:3,
					rules: {
						picture_name: [{ required: true, message: '请输入图片名称', trigger: 'blur' }],
						AES: [{ required: true, message: '请输入AES密钥', trigger: 'blur' }],
						dig: [{ required: true, message: '请上传签名文件', trigger: 'blur' }],
						picture:[{ required: true, message: '请上传图片', trigger: 'blur' }]
					},
				}
			},
			methods: {
                // 每页显示的条数
                handleSizeChange(val) {
                    // 改变每页显示的条数
                    this.PageSize=val
                    // 注意：在改变每页显示的条数时，要将页码显示到第一页
                    this.currentPage=1
                },
                // 显示第几页
                handleCurrentChange(val) {
                    // 改变默认的页数
                    this.currentPage=val
                },

				handleOpen(key, keyPath) {
					console.log(key, keyPath);

				},
				handleClose(key, keyPath) {
					console.log(key, keyPath);
				},
				handlePicturePreview(file) {
					console.log(file)
					console.log(6)
					this.par=file.raw;
					const isLt2M = file.size / 1024 / 1024 < 10;

					if (!isLt2M) {
						this.$message.error('上传头像图片大小不能超过 10MB!');
						this.clearFiles();
						return isLt2M;
					}

				},
				handlePreview(file) {
					console.log(file);
				},

				clearFiles () {
					this.$refs['mYupload'].clearFiles();
				},
				clearDig () {
					this.$refs['myDig'].clearFiles();
				},
				handlePictureCardPreview(file) {
					this.dialogImageUrl = file.url;

					this.dialogVisible = true;
				},
				handlePictureCardPreviewTable(file) {

					this.dialogImageUrl =window.document.location.href+'./img/'+file.picture_realname+'.'+file.picture_type;

					this.dialogVisible = true;
				},
				handleDownload(file) {
					let f =file.picture_realname+"."+file.picture_type
					axios.post("/file/download",f,).then((result)=>{
						var url = (window.document.location.href+"img/"+result.config.data)
						var that = this
						var fileName = file.picture_name
						this.convertUrlToBase64(url).then(function (base64) {
							var blob = that.convertBase64UrlToBlob(base64); // 转为blob对象
							// 下载
							if (that.myBrowser() == "IE") {
								window.navigator.msSaveBlob(blob, fileName + ".png");
							} else if (that.myBrowser() == "FF") {
								window.location.href = url;
							} else {
								var a = document.createElement("a");
								a.download = fileName;
								a.href = URL.createObjectURL(blob);
								document.body.appendChild(a)
								a.click();
								URL.revokeObjectURL(a.href) // 释放URL 对象
								document.body.removeChild(a)
							}
						});
					})
					axios.post("/file/downloadMsg",f,).then((res)=>{
						console.log(res)

						this.downloadFile(res.data,file.picture_name)
					})
				},
				downloadFile(data,fileName){
					// data为blob格式
					var blob = new Blob([data]);
					var downloadElement = document.createElement('a');
					var href = window.URL.createObjectURL(blob);
					downloadElement.href = href;
					downloadElement.download = fileName;
					document.body.appendChild(downloadElement);
					downloadElement.click();
					document.body.removeChild(downloadElement);
					window.URL.revokeObjectURL(href);
				},

				// 转换为base64
				convertUrlToBase64(url) {
					return new Promise(function (resolve, reject) {
						var img = new Image();
						//设置图片跨越，没有跨越cavas会被污染无法画出
						img.crossOrigin = "Anonymous";
						img.src = url;
						img.onload = function () {
							var canvas = document.createElement("canvas");
							canvas.width = img.width;
							canvas.height = img.height;
							var ctx = canvas.getContext("2d");
							ctx.drawImage(img, 0, 0, img.width, img.height);
							var ext = img.src
									.substring(img.src.lastIndexOf(".") + 1)
									.toLowerCase();
							//转换为base64
							var dataURL = canvas.toDataURL("image/" + ext);
							var base64 = {
								dataURL: dataURL,
								type: "image/" + ext,
								ext: ext
							};
							resolve(base64);
						};
					});
				},
				// base64转换为blob流
				convertBase64UrlToBlob(base64) {
					var parts = base64.dataURL.split(";base64,");
					var contentType = parts[0].split(":")[1];
					var raw = window.atob(parts[1]);
					var rawLength = raw.length;
					var uInt8Array = new Uint8Array(rawLength);
					for (var i = 0; i < rawLength; i++) {
						uInt8Array[i] = raw.charCodeAt(i);
					}
					return new Blob([uInt8Array], {
						type: contentType
					});
				},
				// 判断浏览器
				myBrowser() {
						var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
						if (userAgent.indexOf("OPR") > -1) {
							return "Opera";
						} //判断是否Opera浏览器 OPR/43.0.2442.991
						if (userAgent.indexOf("Firefox") > -1) {
							return "FF";
						} //判断是否Firefox浏览器  Firefox/51.0
						if (userAgent.indexOf("Trident") > -1) {
							return "IE";
						} //判断是否IE浏览器 Trident/7.0; rv:11.0
						if (userAgent.indexOf("Edge") > -1) {
							return "Edge";
						} //判断是否Edge浏览器 Edge/14.14393
						if (userAgent.indexOf("Chrome") > -1) {
							return "Chrome";
						} // Chrome/56.0.2924.87
						if (userAgent.indexOf("Safari") > -1) {
							return "Safari";
						} //判断是否Safari浏览器 AppleWebKit/534.57.2 Version/5.1.7 Safari/534.57.2
				},

				init(){
					axios.get("/file/findAll", this.formData, ).then((result) => {

						this.filelist = result.data
                        this.totalCount=result.data.length
					})
				},

				//重置表单
				resetForm() {
					this.formData = {};
					//this.$refs['myDig'].clearValidate();
					this.$nextTick(() => {
						this.$refs.mYupload.clearFiles()
					})

				},
				//重置解密
				resetDig() {
					this.formData = {};

					this.$nextTick(() => {
						this.$refs.myDig.clearFiles()
					})
				},
				//弹出添加窗口
				handleCreate() {
					this.resetForm();
					this.dialogFormVisible = true;
				},
				uploadDig(file){
					this.dig=file.raw;
				},
				handleDig(file) {
                	this.rname=file.picture_realname;
					this.resetDig();
					this.dialogFormVisible2 = true;
				},
				handleVerify() {
					this.resetForm();
					this.dialogFormVisible4Edit = true;
				},
				openFile(file,name) {
                	let this_vue=this
					//验证的文件
					console.log(name.picture_name)
					var reader = new FileReader();
					reader.onload = function () {
						if (reader.result) {
							//打印文件内容
							console.log(reader.result);
							var p= name.picture_id+';'+ reader.result

							axios.post("/file/verify", p,{headers: { 'Content-Type': 'application/json','data': 'JSON.stringify(Data)'}}).then((res) => {
								if(res.data!=0){
									this_vue.$alert('AES密钥(请复制):'+res.data,'验证成功', {
										confirmButtonText: '确定',
									});
								}else{
									this_vue.$alert("请重新确认",'验证错误', {
										confirmButtonText: '确定',
									});
								}
							})
						}
					};
					reader.readAsText(file.raw);
					this.$refs['myVerify'].clearFiles();
				},
				handleEncryptionDig(){
                	let file=this.dig
					let this_vue=this
					let aes = this.formData.AES+";"+this.rname;
					let reader = new FileReader();
					reader.onload = function () {
						if (reader.result) {
							//打印文件内容
							let str = reader.result+aes;
							axios.post("/file/encrypt",str,{headers: { 'Content-Type': 'application/json','data': 'JSON.stringify(Data)'}}).then((res) => {
								if(res.data=="success"){
									this_vue.$alert('文件签名正确！','验证成功', {
										confirmButtonText: '确定',
									});
								}else if(res.data=="failed"){
									this_vue.$alert('文件与签名不符，请重新检查！','验证出错', {
										confirmButtonText: '确定',
									});
								}else {
									this_vue.$alert('服务器可能出错，或密钥格式错误，请稍后重试！','验证出错', {
										confirmButtonText: '确定',
									});
								}

							});
						}
					};
					reader.readAsText(file);
					this.dialogFormVisible2 = false;
					this.rname=null;
					this.resetDig();
				},
				handleEdit() {
					const _file = this.par;
					// 通过 FormData 对象上传文件
					var formData = new FormData();
					formData.append("file", _file);
					axios.post("/file/upload",formData).then((res)=>{
						console.log(res.data)
						this.formData.picture_realname=res.data.split(".")[0]
						console.log(this.picture_realname)
						this.formData.picture_type=res.data.split(".")[1]
						console.log(this.formData.picture_type)
						console.log(this.formData)
						axios.post("/file/save", this.formData).then((result) => {
							console.log(result)
							console.log(this.formData )
							this.resetForm();
							this.dialogFormVisible = false;
							this.clearFiles()
						});
					}).then(function (){
						this.init()
					})


				},
			},
			mounted() {
				this.init();
			}
		})
	</script>


</html>
