<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- 1. 引入vue -->
<!--		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
		<script src="js/v2.6.10/vue.js"></script>
		<!-- 2. 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 3. 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="./css/index.css">
		<link rel="stylesheet" href="./css/upload.css">
		<title>Document</title>


	</head>



	<body>
		<div id="app">
			<el-container>
				<el-header>
					数字图像保护系统
					<div  class="nav">
						<a href="Login.html" class="rl" >登录</a>
						<span> / </span>
						<a href="Reg.html" class="rl" >注册</a>
					</div>
				</el-header>

				<el-container>
					<el-aside width="200px">
						<el-col :span="24">
							<h4>首页</h4>
							<el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen"
								@close="handleClose" background-color="#545c64" text-color="#fff"
								active-text-color="#ffd04b">
								<el-submenu v-for="menu in menuList" :index="menu.path">
									<template slot="title">
										<i class="fa" :class="menu.icon"></i>
										{{menu.title}}
									</template>
									<template v-for="child in menu.children">

											<a :href="child.linkUrl" target="right">
												<el-menu-item :index="child.path" style="background-color: rgb(90,100,110)">{{child.title}}</el-menu-item>
											</a>

									</template>
								</el-submenu>
							</el-menu>
						</el-col>
						</el-row>
					</el-aside>
					<el-container>
						<iframe name="right" class="el-mains" src="main.html" width="100%" frameborder="0" >
						</iframe>
					</el-container>

				</el-container>
			</el-container>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
	<script src="./js/axios-0.27.2.js"></script>
	<script type="text/javascript" src="./js/jquery-3.6.0.js"></script>
	<script src="js/javascript/index.js"></script>


</html>
