<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<style>
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: flex;
        justify-content: center;;
    }
    #app{
        margin: 30px;
        padding: 50px;
        width: 300px;
        box-shadow: 0px 1px 3px   grey,
        0px -1px 3px   grey,
        1px 0px 3px   grey,
        -1px 0px 3px   grey;
    }
    .efi{
        padding: 0px !important;
    }
    #btn{
        width: 300px;
    }
</style>
</head>
<body>
    <div id="app">
        <div style="text-align: center;"><h2>注册账号</h2></div>
        <br>
        <el-form ref="forms" :model="form" label-width="80px"  label-position="top" >
            <el-form-item>
                <label class="el-form-item__label efi"  >用户名</label>
              <el-input v-model="form.name" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item>
                <label class="el-form-item__label efi"  >邮箱</label>
                <el-input v-model="form.email" placeholder="请输入邮箱" type="email"></el-input>
            </el-form-item>
            <el-form-item>
                <label class="el-form-item__label efi"  >密码</label>
                <el-input v-model="form.password" placeholder="请输入密码" show-password type="password"></el-input>
            </el-form-item>
            <el-form-item>
                <label class="el-form-item__label efi"  >确认密码</label>
                <el-input v-model="passwordAgain" placeholder="请再次输入密码" show-password type="password"></el-input>
            </el-form-item>
            <el-button type="primary" id="btn" @click="onSubmit">注册</el-button>
          </el-form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.1/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
  el: '#app',
  data() {
      return {
          form: {},
          passwordAgain:''
      }
    },
    methods: {
      onSubmit() {
        if(this.form.password==this.passwordAgain){
            this.$alert('注册成功','恭喜', {
                confirmButtonText: '确定',
            });
        }else {
            this.$alert('两次密码不同，请重新输入','警告', {
                confirmButtonText: '确定',
            });
        }
      }
    }
});

</script>

</html>